<a href="https://colab.research.google.com/github/zqiaohe/CupIT2020/blob/master/CupIT2020final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
def dateparse (datetime):    
    return pd.Timestamp(datetime)

In [0]:
data = pd.read_csv('/content/drive/My Drive/CL_megafon_Cup IT_2020_final_data (1).csv', sep = ';', parse_dates = ['time_start', 'time_end'], date_parser=dateparse)

In [42]:
data

               time_start            time_end  ...  place_longitude  duration
0     2019-08-24 14:23:56 2019-08-24 18:54:47  ...       113.617867  04:30:51
1     2018-06-19 08:56:22 2018-06-19 12:15:26  ...       113.617867  03:19:04
2     2018-08-29 14:00:32 2018-08-29 14:37:51  ...       113.617867  00:37:19
3     2019-12-10 16:01:26 2019-12-10 16:35:22  ...       113.617867  00:33:56
4     2019-12-10 13:39:42 2019-12-10 17:58:22  ...       115.167583  04:18:40
...                   ...                 ...  ...              ...       ...
78218 2018-06-25 11:25:04 2018-06-25 14:39:32  ...       114.357402  03:14:28
78219 2018-04-06 10:07:13 2018-04-06 16:34:40  ...       114.397573  06:27:27
78220 2018-07-13 22:59:34 2018-07-14 00:05:50  ...       114.397573  01:06:16
78221 2018-11-06 00:05:57 2018-11-06 08:50:10  ...       114.397573  08:44:13
78222 2018-10-15 02:24:15 2018-10-15 18:03:48  ...       114.397573  15:39:33

[78223 rows x 5 columns]

In [43]:
 type(data['duration'][0])

pandas._libs.tslibs.timedeltas.Timedelta

In [0]:
data['duration'] = data['time_end'] - data['time_start']